:root {
  --color-primary: #ebdd19;
  --color-primary-light: #eae05b;
  --color-primary-dark: #a2960d;
  --color-secondary: #222e58;
  --color-secondary-light: #3d497c;
  --color-secondary-dark: #1d274b;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0, .06); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark));
  min-height: 100vh; }

.container {
  height: 100rem;
  margin: 1.5rem;
  display: grid;
  grid-template-columns: 10rem repeat(4, 1fr);
  grid-template-rows: 8rem repeat(3, 1fr);
  grid-gap: 1rem; }

.sidebar {
  background-color: var(--color-primary);
  box-shadow: var(--shadow-dark);
  border-radius: 2.5rem;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .sidebar__lines {
    border-bottom: 4px solid var(--color-secondary);
    grid-column: 1 / 2; }
    .sidebar__lines:last-child {
      margin-bottom: 3rem; }
    .sidebar__lines:nth-child(5n+1) {
      grid-column: 1 / 3; }

.side-btn {
  background-color: var(--color-secondary);
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-top: 3rem;
  cursor: pointer;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  transition: all .2s; }
  .side-btn:hover {
    background-image: linear-gradient(to right bottom, var(--color-secondary-dark), var(--color-secondary-light));
    transform: translateY(-2px); }
  .side-btn:active {
    transform: translateY(2px); }

.nav {
  background-color: var(--color-grey-light-4);
  border-radius: 10px;
  padding: 1rem;
  grid-column: 2 / -1;
  grid-row: 1 / 2; }
