:root {
  --color-primary: #ebdd19;
  --color-primary-light: #eae05b;
  --color-primary-dark: #dccf16;
  --color-secondary: #222e58;
  --color-secondary-light: #5562a0;
  --color-secondary-dark: #1d274b;
  --color-grey-light-1: #e1e1ee;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-secondary);
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  max-width: 150rem;
  margin: 0 auto; }

.container {
  background-color: var(--color-grey-light-1);
  max-width: 150rem;
  margin: 3rem;
  display: grid;
  grid-template-columns: 5rem [full-start] repeat(5, [col-start] 1fr [col-end]) [full-end] 5rem;
  grid-template-rows: 6rem repeat(5, max-content);
  grid-row-gap: 10rem; }

.header {
  background-color: var(--color-primary);
  border-radius: 0 1rem 1rem 0;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: repeat(3, 2rem); }
  .header__lines {
    border-left: 4px solid var(--color-secondary);
    justify-self: center;
    grid-row: 1 / 2; }
    .header__lines:last-child {
      margin-right: 7rem; }
    .header__lines:nth-child(5n+1) {
      grid-row: 1 / 3; }
  .header__title {
    color: var(--color-secondary);
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
    margin: 0 2rem;
    grid-column: 8 / 9;
    grid-row: 1 / 4;
    align-self: center; }
  .header__btn {
    background-color: var(--color-secondary);
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 1rem;
    justify-self: center;
    align-self: center;
    grid-column: 36 / 37;
    grid-row: 2 / 3;
    transition: all .2s; }
    .header__btn:hover {
      background-color: var(--color-secondary-light);
      transform: translateY(-2px); }
    .header__btn:active {
      transform: translateY(2px); }

.how-i-work {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 6rem; }
  .how-i-work h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    justify-self: center;
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / -1; }
  .how-i-work__icon1, .how-i-work__icon2, .how-i-work__icon3, .how-i-work__icon4 {
    fill: var(--color-secondary);
    height: 5rem;
    width: 5rem;
    justify-self: end; }
  .how-i-work p {
    font-size: 1.8rem;
    text-align: center; }

.about-myself {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
  grid-gap: 2rem 4rem; }
  .about-myself__photo-me {
    height: 25rem;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: center;
    z-index: 2; }
    .about-myself__photo-me__background-yellow, .about-myself__photo-me__background-blue {
      height: 27rem;
      width: 19rem;
      z-index: 1;
      align-self: center;
      grid-column: 1 / 2;
      grid-row: 1 / 3; }
    .about-myself__photo-me__background-blue {
      background-color: var(--color-secondary);
      transform: translatey(-1rem); }
    .about-myself__photo-me__background-yellow {
      background-color: var(--color-primary);
      transform: translate(-2.2rem, 1rem); }
  .about-myself__icon,
  .about-myself h2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center; }
  .about-myself__icon {
    fill: var(--color-secondary);
    height: 5rem;
    width: 5rem;
    margin-right: 2rem; }
  .about-myself h2 {
    font-size: 3rem;
    margin-left: 6rem;
    text-transform: uppercase; }
  .about-myself p {
    font-size: 1.5rem; }

.services {
  margin-top: 5rem;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 6rem; }
  .services h2,
  .services .title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: center; }
  .services h2 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1rem; }
  .services .title {
    font-size: 1.7rem;
    margin-left: 22rem; }
  .services__service {
    font-size: 2rem;
    display: flex;
    flex-direction: column; }

.reviews {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content 1fr;
  grid-row-gap: 5rem; }
  .reviews h2,
  .reviews .title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: center; }
  .reviews h2 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1rem; }
  .reviews .title {
    font-size: 1.7rem;
    margin-left: 22rem; }
  .reviews__opinion {
    justify-self: center;
    border: solid 1px var(--color-secondary-dark);
    height: 40rem;
    width: 35rem;
    display: grid;
    grid-template-rows: repeat(2, max-content) 1fr;
    grid-template-columns: max-content 1fr; }

.contact {
  grid-column: full-start / full-end; }

.footer {
  grid-column: full-start / full-end; }
