// COLOR VARIABLES
:root {
    --color-primary: #ebdd19;
    --color-primary-light: #eae05b;
    --color-primary-dark: #dccf16;

    --color-secondary: #222e58;
    --color-secondary-light: #5562a0;
    --color-secondary-dark: #1d274b;

    --color-grey-light-1: #e8e8f1;
    --color-grey-light-2: #c1c1d2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;


    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-secondary);
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
    max-width: 150rem;
    margin: 0 auto;
}

.container {
    background-color: var(--color-grey-light-1);
    max-width: 150rem;
    // min-height: 150rem;
    margin: 3rem;

    display: grid;
    grid-template-columns: 5rem [full-start] repeat(5, [col-start] 1fr [col-end]) [full-end] 5rem;
    grid-template-rows: 6rem min-content repeat(6, max-content) 10rem;
    grid-row-gap: 10rem;

}